.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #1f2937;
    color: white;
}

.nav-links {
    display: flex;
    gap: 10px;
}

    .nav-links button {
        padding: 8px 15px;
        border: none;
        cursor: pointer;
        background: white;
        border-radius: 5px;
    }
